:root{
   font-family: sans-serif; 
   
}

body {
    font-size: 16px;
    margin:0;
    padding:0;

}

header {
    display: flex;
    height: 100px;
    background-color: #C49557;
} 

#name {
    color: hsl(186, 52%, 30%);
    width: 70%;
    display: flex;
    margin: 10px 0 0 10px;
}   

nav {
    display: flex;
    width: auto;
    margin: 10px 0 0 5px; 
    border: 10px;
    color: #1F6D76;
}

.bigBox {
    display: flex;
    width: 100%;
}

.topbox {
    padding: 10px;
    font-size: 20px;
}

#backGround {
    width: 100%;
    height: auto;
    right: 0px;
    left: 0px;  
}

#personalBox {
    display: flex;
    background-color: #BDEEEE;
}

#avatar {
   width: 30%;
   height: auto;
}

#personalIntro {
    text-align: center;
    margin: 80px 30px 30px 30px;
    width: 70%;
}

#projectBox {
    display:flex;
}

#personalAchievement {
    text-align: center;
}

.projects {
    margin: 20px;
    padding: 20px;
    background-color: rgb(238, 235, 235);
}

.project-photo {
    width: 100%;
    height: auto;
}

#project-1 {
    float: left;
    height: auto;
    width: 600px;
}

#project-2 {
    float: center;
    height: auto;
    width: 600px;
}

#project-3 {
    float: right;
    height: auto;
    width: 600px;
}

footer {
    background-color: black;
    color: white;
    text-align:center;
    padding: 10px 0;
}